# Chi-Squared Goodness-Of-Fit Test

In our study of t-tests, we introduced the one-way t-test to check whether a sample mean differs from the an expected (population) mean. The chi-squared goodness-of-fit test is an analog of the one-way t-test for categorical variables: it tests whether the distribution of sample categorical data matches an expected distribution. For example, you could use a chi-squared goodness-of-fit test to check whether the race demographics of members at your church or school match that of the entire U.S. population or whether the computer browser preferences of your friends match those of Internet uses as a whole.

When working with categorical data, the values themselves aren't of much use for statistical testing because categories like "male", "female," and "other" have no mathematical meaning. Tests dealing with categorical variables are based on variable counts instead of the actual value of the variables themselves.

Let's generate some fake demographic data for U.S. and Minnesota and walk through the chi-square goodness of fit test to check whether they are different:

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [6]:
national = pd.DataFrame(["white"]*100000 + ["hispanic"]*60000 +["black"]*50000 + ["asian"]*15000 + ["other"]*35000)
national

            0
0       white
1       white
2       white
3       white
4       white
...       ...
259995  other
259996  other
259997  other
259998  other
259999  other

[260000 rows x 1 columns]

In [7]:
minnesota = pd.DataFrame(["white"]*600 + ["hispanic"]*300 + ["black"]*250 +["asian"]*75 + ["other"]*150)
minnesota

          0
0     white
1     white
2     white
3     white
4     white
...     ...
1370  other
1371  other
1372  other
1373  other
1374  other

[1375 rows x 1 columns]

In [8]:
national_table = pd.crosstab(index=national[0], columns="count")
minnesota_table = pd.crosstab(index=minnesota[0], columns="count")
national_table

col_0      count
0
asian      15000
black      50000
hispanic   60000
other      35000
white     100000

In [2]:
national = pd.DataFrame(["white"]*100000 + ["hispanic"]*60000 +\
                        ["black"]*50000 + ["asian"]*15000 + ["other"]*35000)


minnesota = pd.DataFrame(["white"]*600 + ["hispanic"]*300 + \
                         ["black"]*250 +["asian"]*75 + ["other"]*150)

national_table = pd.crosstab(index=national[0], columns="count")
minnesota_table = pd.crosstab(index=minnesota[0], columns="count")

print( "National")
display(national_table)
print(" ")
print( "Minnesota")
display(minnesota_table)

National

col_0      count
0
asian      15000
black      50000
hispanic   60000
other      35000
white     100000

Minnesota

col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600

Chi-squared tests are based on the so-called chi-squared statistic. You calculate the chi-squared statistic with the following formula:

$$ sum(\frac{(observed-expected)^2}{expected}) $$

In the formula, observed is the actual observed count for each category and expected is the expected count based on the distribution of the population for the corresponding category. Let's calculate the chi-squared statistic for our data to illustrate:

In [9]:
observed = minnesota_table

In [10]:
national_ratios = national_table/len(national)  # Get population ratios
national_ratios

col_0        count
0
asian     0.057692
black     0.192308
hispanic  0.230769
other     0.134615
white     0.384615

In [11]:
expected = national_ratios * len(minnesota)   # Get expected counts
expected

col_0          count
0
asian      79.326923
black     264.423077
hispanic  317.307692
other     185.096154
white     528.846154

In [12]:
chi_squared_stat = (((observed-expected)**2)/expected).sum()
chi_squared_stat

col_0
count    18.194805
dtype: float64

*Note: The chi-squared test assumes none of the expected counts are less than 5.*

Similar to the t-test where we compared the t-test statistic to a critical value based on the t-distribution to determine whether the result is significant, in the chi-square test we compare the chi-square test statistic to a critical value based on the [chi-square distribution](https://en.wikipedia.org/wiki/Chi-squared_distribution). The scipy library shorthand for the chi-square distribution is chi2. Let's use this knowledge to find the critical value for 95% confidence level and check the p-value of our result:

In [14]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 4)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=4)
print("P value")
print(p_value)

Critical value
9.487729036781154
P value
[0.00113047]

Since our chi-squared statistic exceeds the critical value, we'd reject the null hypothesis that the two distributions are the same.

You can carry out a chi-squared goodness-of-fit test automatically using the scipy function scipy.stats.chisquare():

In [ ]:
stats.chisquare(f_obs= observed,   # Array of observed counts
                f_exp= expected)   # Array of expected counts

Power_divergenceResult(statistic=array([18.19480519]), pvalue=array([0.00113047]))

The test results agree with the values we calculated above.

# Chi-Squared Test of Independence

[Independence](https://en.wikipedia.org/wiki/Independence_(probability_theory)) is a key concept in probability that describes a situation where knowing the value of one variable tells you nothing about the value of another. For instance, the month you were born probably doesn't tell you anything about which web browser you use, so we'd expect birth month and browser preference to be independent. On the other hand, your month of birth might be related to whether you excelled at sports in school, so month of birth and sports performance might not be independent.

The chi-squared test of independence tests whether two categorical variables are independent. The test of independence is commonly used to determine whether variables like education, political views and other preferences vary based on demographic factors like gender, race and religion. Let's generate some fake voter polling data and perform a test of independence:

In [26]:
np.random.seed(10)

# Sample data randomly at fixed probabilities
voter_race = np.random.choice(a= ["asian","black","hispanic","other","white"],
                              p = [0.05, 0.15 ,0.25, 0.05, 0.5],
                              size=1000)
voter_race

array(['white', 'asian', 'white', 'white', 'other', 'hispanic', 'black',
       'white', 'black', 'black', 'white', 'white', 'asian', 'white',
       'white', 'white', 'white', 'hispanic', 'white', 'white', 'white',
       'black', 'hispanic', 'white', 'hispanic', 'hispanic', 'white',
       'white', 'white', 'white', 'white', 'white', 'white', 'hispanic',
       'black', 'hispanic', 'black', 'white', 'asian', 'white', 'white',
       'white', 'black', 'white', 'hispanic', 'white', 'hispanic',
       'white', 'hispanic', 'black', 'hispanic', 'black', 'white',
       'black', 'hispanic', 'white', 'white', 'other', 'white',
       'hispanic', 'white', 'white', 'white', 'white', 'asian',
       'hispanic', 'black', 'hispanic', 'hispanic', 'white', 'asian',
       'hispanic', 'hispanic', 'white', 'hispanic', 'asian', 'white',
       'white', 'white', 'hispanic', 'white', 'white', 'white',
       'hispanic', 'hispanic', 'asian', 'hispanic', 'hispanic', 'white',
       'white', 'other', 'hispanic', 'black', 'white', 'hispanic',
       'other', 'white', 'hispanic', 'hispanic', 'white', 'white',
       'white', 'black', 'other', 'white', 'white', 'white', 'asian',
       'hispanic', 'white', 'hispanic', 'white', 'white', 'black',
       'black', 'hispanic', 'black', 'black', 'white', 'hispanic',
       'hispanic', 'white', 'black', 'white', 'other', 'white', 'black',
       'black', 'white', 'asian', 'hispanic', 'white', 'hispanic',
       'hispanic', 'white', 'white', 'white', 'white', 'asian', 'white',
       'white', 'white', 'white', 'white', 'white', 'white', 'black',
       'hispanic', 'white', 'black', 'hispanic', 'black', 'white',
       'white', 'black', 'white', 'white', 'white', 'black', 'hispanic',
       'hispanic', 'asian', 'asian', 'other', 'white', 'white',
       'hispanic', 'black', 'white', 'white', 'white', 'white', 'white',
       'white', 'white', 'asian', 'white', 'black', 'other', 'white',
       'other', 'white', 'black', 'asian', 'white', 'white', 'other',
       'hispanic', 'black', 'hispanic', 'black', 'white', 'black',
       'hispanic', 'white', 'hispanic', 'white', 'white', 'hispanic',
       'black', 'white', 'white', 'hispanic', 'white', 'hispanic',
       'hispanic', 'white', 'white', 'white', 'white', 'hispanic',
       'white', 'white', 'hispanic', 'white', 'hispanic', 'asian',
       'asian', 'black', 'black', 'hispanic', 'white', 'other', 'black',
       'white', 'hispanic', 'asian', 'white', 'hispanic', 'white',
       'hispanic', 'white', 'white', 'white', 'white', 'black',
       'hispanic', 'hispanic', 'white', 'white', 'hispanic', 'hispanic',
       'white', 'hispanic', 'black', 'white', 'white', 'black', 'white',
       'hispanic', 'white', 'hispanic', 'white', 'white', 'white',
       'hispanic', 'hispanic', 'white', 'white', 'white', 'hispanic',
       'black', 'other', 'white', 'white', 'black', 'asian', 'white',
       'white', 'white', 'white', 'white', 'white', 'black', 'black',
       'hispanic', 'white', 'hispanic', 'white', 'asian', 'white',
       'hispanic', 'white', 'white', 'hispanic', 'hispanic', 'white',
       'black', 'hispanic', 'black', 'black', 'white', 'hispanic',
       'white', 'white', 'white', 'white', 'white', 'black', 'hispanic',
       'white', 'black', 'white', 'white', 'white', 'black', 'black',
       'other', 'white', 'white', 'hispanic', 'white', 'white', 'asian',
       'white', 'white', 'white', 'black', 'hispanic', 'asian', 'white',
       'hispanic', 'black', 'white', 'black', 'hispanic', 'white',
       'white', 'black', 'hispanic', 'white', 'black', 'hispanic',
       'white', 'white', 'white', 'white', 'black', 'white', 'white',
       'white', 'white', 'white', 'white', 'hispanic', 'white',
       'hispanic', 'black', 'white', 'white', 'white', 'white',
       'hispanic', 'white', 'asian', 'hispanic', 'black', 'white',
       'white', 'white', 'black', 'black', 'white', 'white', 'black',
       'hispanic', 'white', 'black', 'white', 'white', 'hispanic',
       'white', 'other', 'white', 'hispanic', 'white', 'white', 'white',
       'asian', 'white', 'other', 'black', 'white', 'white', 'white',
       'hispanic', 'black', 'asian', 'white', 'black', 'hispanic',
       'hispanic', 'asian', 'black', 'asian', 'white', 'hispanic',
       'white', 'hispanic', 'hispanic', 'hispanic', 'white', 'white',
       'white', 'white', 'white', 'hispanic', 'white', 'white', 'white',
       'white', 'hispanic', 'black', 'white', 'white', 'white',
       'hispanic', 'white', 'white', 'hispanic', 'black', 'black',
       'black', 'hispanic', 'white', 'white', 'white', 'hispanic',
       'white', 'white', 'white', 'white', 'white', 'white', 'white',
       'white', 'white', 'asian', 'hispanic', 'white', 'hispanic',
       'black', 'black', 'white', 'white', 'white', 'hispanic', 'white',
       'hispanic', 'white', 'white', 'white', 'black', 'white', 'white',
       'black', 'asian', 'white', 'white', 'hispanic', 'hispanic',
       'black', 'other', 'white', 'white', 'hispanic', 'hispanic',
       'white', 'hispanic', 'white', 'white', 'white', 'white', 'black',
       'white', 'white', 'white', 'white', 'hispanic', 'hispanic',
       'hispanic', 'black', 'black', 'white', 'white', 'white', 'white',
       'hispanic', 'white', 'white', 'hispanic', 'black', 'asian',
       'white', 'asian', 'hispanic', 'white', 'asian', 'white', 'other',
       'asian', 'asian', 'hispanic', 'black', 'white', 'white',
       'hispanic', 'asian', 'black', 'black', 'white', 'white', 'asian',
       'white', 'white', 'hispanic', 'hispanic', 'white', 'white',
       'black', 'hispanic', 'white', 'white', 'hispanic', 'white',
       'white', 'white', 'white', 'white', 'asian', 'asian', 'white',
       'black', 'white', 'hispanic', 'black', 'white', 'hispanic',
       'hispanic', 'white', 'black', 'hispanic', 'black', 'hispanic',
       'black', 'white', 'white', 'asian', 'black', 'black', 'white',
       'white', 'white', 'black', 'white', 'white', 'white', 'white',
       'white', 'hispanic', 'black', 'white', 'asian', 'black', 'black',
       'white', 'hispanic', 'hispanic', 'hispanic', 'black', 'hispanic',
       'white', 'white', 'hispanic', 'hispanic', 'other', 'white',
       'white', 'white', 'hispanic', 'hispanic', 'white', 'hispanic',
       'white', 'black', 'white', 'hispanic', 'white', 'hispanic',
       'white', 'hispanic', 'asian', 'black', 'hispanic', 'black',
       'white', 'hispanic', 'white', 'other', 'white', 'black', 'white',
       'white', 'black', 'white', 'black', 'white', 'black', 'white',
       'white', 'hispanic', 'hispanic', 'white', 'white', 'hispanic',
       'white', 'hispanic', 'white', 'hispanic', 'white', 'white',
       'hispanic', 'hispanic', 'asian', 'white', 'white', 'black',
       'asian', 'asian', 'white', 'black', 'hispanic', 'hispanic',
       'black', 'white', 'white', 'white', 'white', 'black', 'white',
       'other', 'black', 'white', 'asian', 'white', 'white', 'asian',
       'hispanic', 'white', 'black', 'asian', 'white', 'hispanic',
       'hispanic', 'black', 'hispanic', 'hispanic', 'hispanic',
       'hispanic', 'hispanic', 'hispanic', 'hispanic', 'hispanic',
       'hispanic', 'white', 'white', 'white', 'hispanic', 'white',
       'hispanic', 'white', 'white', 'white', 'black', 'white', 'white',
       'white', 'hispanic', 'black', 'black', 'white', 'white',
       'hispanic', 'white', 'white', 'white', 'white', 'white', 'white',
       'black', 'white', 'white', 'hispanic', 'white', 'hispanic',
       'asian', 'asian', 'white', 'hispanic', 'asian', 'hispanic',
       'hispanic', 'hispanic', 'white', 'black', 'hispanic', 'hispanic',
       'white', 'white', 'white', 'white', 'white', 'white', 'hispanic',
       'hispanic', 'white', 'hispanic', 'white', 'white', 'hispanic',
       'black', 'hispanic', 'hispanic', 'white', 'white', 'hispanic',
       'white', 'white', 'hispanic', 'white', 'other', 'white', 'white',
       'hispanic', 'white', 'asian', 'black', 'white', 'white', 'white',
       'white', 'hispanic', 'white', 'hispanic', 'white', 'hispanic',
       'hispanic', 'white', 'black', 'white', 'other', 'white', 'white',
       'white', 'white', 'white', 'hispanic', 'asian', 'black', 'white',
       'white', 'white', 'white', 'white', 'white', 'other', 'white',
       'white', 'asian', 'white', 'white', 'hispanic', 'white',
       'hispanic', 'white', 'white', 'black', 'white', 'white',
       'hispanic', 'white', 'white', 'white', 'white', 'other', 'white',
       'white', 'asian', 'hispanic', 'hispanic', 'black', 'hispanic',
       'white', 'other', 'hispanic', 'white', 'white', 'hispanic',
       'white', 'white', 'white', 'other', 'white', 'white', 'white',
       'white', 'white', 'white', 'hispanic', 'other', 'hispanic',
       'hispanic', 'white', 'black', 'black', 'white', 'white',
       'hispanic', 'white', 'white', 'white', 'hispanic', 'white',
       'white', 'white', 'black', 'hispanic', 'hispanic', 'white',
       'hispanic', 'asian', 'hispanic', 'white', 'black', 'white',
       'white', 'hispanic', 'black', 'hispanic', 'hispanic', 'hispanic',
       'other', 'white', 'asian', 'white', 'black', 'white', 'black',
       'white', 'hispanic', 'hispanic', 'white', 'black', 'hispanic',
       'white', 'white', 'other', 'white', 'white', 'hispanic',
       'hispanic', 'white', 'white', 'white', 'hispanic', 'black',
       'black', 'other', 'hispanic', 'white', 'other', 'white', 'white',
       'hispanic', 'asian', 'asian', 'other', 'white', 'black',
       'hispanic', 'white', 'white', 'white', 'white', 'white', 'white',
       'white', 'white', 'black', 'hispanic', 'hispanic', 'hispanic',
       'black', 'hispanic', 'white', 'white', 'black', 'white', 'white',
       'other', 'hispanic', 'other', 'hispanic', 'white', 'hispanic',
       'black', 'white', 'black', 'hispanic', 'white', 'white', 'white',
       'white', 'white', 'white', 'hispanic', 'white', 'black', 'white',
       'white', 'hispanic', 'black', 'white', 'white', 'white', 'asian',
       'hispanic', 'hispanic', 'hispanic', 'black', 'white', 'white',
       'white', 'white', 'white', 'hispanic', 'white', 'white', 'black',
       'white', 'white', 'hispanic', 'hispanic', 'white', 'white',
       'white', 'hispanic', 'white', 'other', 'white', 'hispanic',
       'black', 'white', 'black', 'black', 'other', 'hispanic', 'white',
       'hispanic', 'hispanic', 'hispanic', 'hispanic', 'white', 'asian',
       'white', 'black', 'hispanic', 'black', 'white', 'hispanic',
       'white', 'other', 'white', 'black', 'other', 'black', 'black',
       'black', 'hispanic', 'white', 'hispanic', 'hispanic', 'black',
       'hispanic', 'white', 'white', 'white', 'white', 'black', 'black',
       'hispanic', 'black', 'asian', 'hispanic', 'hispanic', 'white',
       'hispanic', 'black', 'white', 'black'], dtype='<U8')

In [27]:
# Sample data randomly at fixed probabilities
voter_party = np.random.choice(a= ["democrat","independent","republican"],
                              p = [0.4, 0.2, 0.4],
                              size=1000)

In [28]:
voters = pd.DataFrame({"race":voter_race,
                       "party":voter_party})
voters.head(3)

    race        party
0  white     democrat
1  asian   republican
2  white  independent

In [29]:
voter_tab = pd.crosstab(voters['race'], voters['party'], margins = True)
voter_tab

party     democrat  independent  republican   All
race
asian           21            7          32    60
black           65           25          64   154
hispanic       107           50          94   251
other           15            8          15    38
white          189           96         212   497
All            397          186         417  1000

In [30]:
voter_tab.columns = ["democrat","independent","republican","row_totals"]
voter_tab.index = ["asian","black","hispanic","other","white","col_totals"]

In [31]:
voter_tab

            democrat  independent  republican  row_totals
asian             21            7          32          60
black             65           25          64         154
hispanic         107           50          94         251
other             15            8          15          38
white            189           96         212         497
col_totals       397          186         417        1000

In [32]:
observed = voter_tab.iloc[0:5,0:3]   # Get table without totals for later use
observed

          democrat  independent  republican
asian           21            7          32
black           65           25          64
hispanic       107           50          94
other           15            8          15
white          189           96         212

Note that we did not use the race data to inform our generation of the party data so the variables are independent.

For a test of independence, we use the same chi-squared formula that we used for the goodness-of-fit test. The main difference is we have to calculate the expected counts of each cell in a 2-dimensional table instead of a 1-dimensional table. To get the expected count for a cell, multiply the row total for that cell by the column total for that cell and then divide by the total number of observations. We can quickly get the expected counts for all cells in the table by taking the row totals and column totals of the table, performing an outer product on them with the np.outer() function and dividing by the number of observations:

In [ ]:
expected =  np.outer(voter_tab["row_totals"][0:5],
                     voter_tab.loc["col_totals"][0:3]) / 1000

expected = pd.DataFrame(expected)

expected.columns = ["democrat","independent","republican"]
expected.index = ["asian","black","hispanic","other","white"]

expected

          democrat  independent  republican
asian       23.820       11.160      25.020
black       61.138       28.644      64.218
hispanic    99.647       46.686     104.667
other       15.086        7.068      15.846
white      197.309       92.442     207.249

Now we can follow the same steps we took before to calculate the chi-square statistic, the critical value and the p-value:

In [ ]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

7.169321280162059

*Note: We call .sum() twice: once to get the column sums and a second time to add the column sums together, returning the sum of the entire 2D table.*

In [ ]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 8)   # *

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=8)
print("P value")
print(p_value)

Critical value
15.507313055865453
P value
0.518479392948842

*Note: The degrees of freedom for a test of independence equals the product of the number of categories in each variable minus 1. In this case we have a 5x3 table so df = 4x2 = 8.*

As with the goodness-of-fit test, we can use scipy to conduct a test of independence quickly. Use stats.chi2_contingency() function to conduct a test of independence automatically given a frequency table of observed counts:

In [13]:
stats.chi2_contingency(observed= observed)

(7.169321280162059,
 0.518479392948842,
 8,
 array([[ 23.82 ,  11.16 ,  25.02 ],
        [ 61.138,  28.644,  64.218],
        [ 99.647,  46.686, 104.667],
        [ 15.086,   7.068,  15.846],
        [197.309,  92.442, 207.249]]))

The output shows the chi-square statistic, the p-value and the degrees of freedom followed by the expected counts.

As expected, given the high p-value, the test result does not detect a significant relationship between the variables.

# Wrap Up

Chi-squared tests provide a way to investigate differences in the distributions of categorical variables with the same categories and the dependence between categorical variables.